@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import url('https://rsms.me/inter/inter.css');
* {
  box-sizing: border-box;
}

html,
body,
.bg,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.content {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1px;
  font-weight: 30;
  background: black;
  color: #f0f0f0;
  border-radius: 0.5px;
  padding: 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inter;
  gap: 5px;
}

div.label {
  background-color: white;
  border: 1px solid #888888;
  padding: 5px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(63, 12, 88, 0.25) 0%,
    transparent 100%
  );
  pointer-events: none;
}

body {
  background: #171717;
  position: fixed;
}

canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

.text-background {
  font-size: 40px;
  width: 50%;
  padding: 2em 3em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.bg {
  position: absolute;
  background: radial-gradient(
    at 50% 100%,
    #873740 0%,
    #272730 40%,
    #171720 80%,
    #070710 100%
  );
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.fa {
  font-size: 26px;
}

body {
  padding-top: 70px;
}

.fa {
  font-size: 26px;
}

@media (min-width: 768px) {
  body {
    padding-top: 0;
    margin-left: 150px;
  }
  .sidebar {
    width: 0px;
  }
}

.sidebar {
  position: fixed;
  width: 150px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #111;
  padding-top: 50px;
}

.sidebar #about::after {
  background-color: #3486eb;
}

.sidebar #partners::after {
  background-color: #f00c23;
}
.sidebar #portfolio::after {
  background-color: #ebc634;
}
.sidebar #news::after {
  background-color: #22e06b;
}
.sidebar #contact::after {
  background-color: #1135ba;
}

.sidebar a::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 73px;
  top: 0;
  left: 139px;
}

.sidebar a {
  width: 145px;
  height: 75px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  transition-duration: 0.3s;
  padding: 10px 20px;
  color: #bbb;
  text-decoration: none;
  font-family: "Rubik";
  letter-spacing: 2px;
}

.sidebar a:hover {
  color: #fff;
  margin-left: 20px;
  transition: 0.6s;
}

.logo {
  margin: auto;
  display: flex;
  max-height: 110px;
  max-width: 180px;
  overflow: visible;
  padding-top: 28px;
  padding-bottom: 29px;
}
